[run]
omit =
    tests/*
    .venv-*/*
    test/*
    google*/*
    */__init__.py
    cachetools*
    _distutils_hack*
    distutils-precedence.pth
    apiclient
    bin
    certifi*
    charset*
    google_auth*
    httplib2*
    idna*
    packaging*
    pkg_resources*
    protobuf*
    pyasn1*
    pyparsing*
    pytz*
    requests*
    rsa*
    setuptools*
    six*
    uritemplate*
    urllib3*
source =
    .