# exclude python 3rd party modules
__pycache__                    
_distutils_hack
.venv-test
cachetools*
apiclient
bin
cachetools*
certifi*
charset*
google*
httplib2*
idna*
packaging*
pkg_resources*
protobuf*
pyasn1*
pyparsing*
pytz*
requests*
rsa*
setuptools*
six*
uritemplate*
urllib3*
distutils-precedence.pth
CHANGELOG.md                   
LICENSE                        
README.md